/* Colour Palette */

// red
// $color50: #fcf8f8;
// $color100: #f7e9e9;
// $color200: #f0d8d8;
// $color300: #e5bcbc;
// $color400: #d49595;
// $color500: #c17272;
// $color600: #ab5757;
// $color700: #8f4646;
// $color800: #773d3d;
// $color900: #653737;
// $color950: #351a1a;

// coffee
$color50: #f9f6f3;
$color100: #f2ece2;
$color200: #e3d7c5;
$color300: #d2bd9f;
$color400: #c6a988;
$color500: #b1875e;
$color600: #a47552;
$color700: #885e46;
$color800: #6f4e3d;
$color900: #5a4034;
$color950: #30211a;


//blue
// $color50: #f8fafc;
// $color100: #f1f5f9;
// $color200: #e2e8f0;
// $color300: #cbd5e1;
// $color400: #94a3b8;
// $color500: #64748b;
// $color600: #475569;
// $color700: #334155;
// $color800: #1e293b;
// $color900: #0f172a;
// $color950: #020617;

//green
// $color50: #f8fcf8;
// $color100: #d7f0d8;
// $color200: #afe0b0;
// $color300: #7fc984;
// $color400: #55ac5e;
// $color500: #3b9145;
// $color600: #2d7437;
// $color700: #285d30;
// $color800: #234c29;
// $color900: #214026;
// $color950: #0e2512;

// purple
// $color50: #fbf8fc;
// $color100: #f5eff8;
// $color200: #eee2f2;
// $color300: #e0cae8;
// $color400: #cca8d8;
// $color500: #b786c6;
// $color600: #a26ab3;
// $color700: #8b569a;
// $color800: #754980;
// $color900: #5f3c67;
// $color950: #412348;

$primary: $color400;
$secondary: #eee;

$white: #eee;
$darkGrey: #333;

$text: $color700;
$darkText: #333;

$bentoBg: $color50;
$bentoBorder: $color400;

$bg: $color100;

$resume: #00b13b;
$email: #b10000;
$linkedin: #0072b1;
$github: #333;


@mixin neumorphism-light {
  border: 1px solid rgba(255, 255, 255, .25);
  box-shadow: 4px 4px 16px #dddddd, -4px -4px 16px #ffffff;
}

@mixin neumorphism-inner-light {
  border: 1px solid rgba(255, 255, 255, .25);
  box-shadow: inset 4px 4px 16px #dddddd, inset -4px -4px 16px #ffffff;
}