---
import type { IconType } from 'react-icons';

interface Props {
	// href: string;
	children: any;
}

const { children } = Astro.props;
---

<div class="icon-button">
	{children}
</div>
<style>
	.icon-button {
		border: 1px solid #777;
		border-radius: 50%;
		width: 25px;
		height: 25px;
	}
	.icon-button > a {
		width: 100%;
		text-decoration: none;
		line-height: 1.4;
		padding: calc(1.5rem - 1px);
		border-radius: 8px;
		color: white;
		background-color: #23262d;
		opacity: 0.8;
	}
	.icon-button:is(:hover, :focus-within) {
		background-position: 0;
		background-image: var(--accent-gradient);
	}
	.icon-button:is(:hover, :focus-within) h2 {
		color: rgb(var(--accent-light));
	}
</style>
